<div class="container">
  <div class="row">
    <div class="card mb-4">
      <div class=" card-img-wrapper">
        <img class="card-img-top img-thumbnail" src="{{product.PhotoUrl}}" alt="{{product.knownAs}} " />
        <div class="card-body p-1">
          <h5 class="card-title text-center-mb-1">
            {{product.knowAs}}, {{Product.price}}
          </h5>
          <p class="card-text">{{product.description}}</p>

        </div>

        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-success w-100" (click)="addToCart()">Add to Cart</button>
            <button class="btn btn-primary w-100">Check Out</button>
          </div>
        </div>

        <tabset class="member-tabset">
          <tab heading="About {{product.name}}">
            <h4>Description</h4>
            <p>{{product.description}}</p>
          </tab>
          <!--<tab heading="Photos">
            <ngx-gallery style="display: inline-block; margin-bottom: 20px;" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>-->
        </tabset>
      </div>
    </div>

      <tabset class="member-tab-set">
        <tab heading="Specification" id="tab1">Specification</tab>
        <tab heading="Images">Images</tab>
        <tab heading="Review">Review</tab>
      </tabset>
    </div>
      </div>

