<div class="container">
  <div class="row">
    <div class="card mb-4">
      <div class=" card-img-wrapper">
        <img class="card-img-top img-thumbnail" src="{{product.PhotoUrl}}" alt="{{product.knownAs}} " />
        <div class="card-body p-1">
          <h5 class="card-title text-center-mb-1">
            {{product.knowAs}}, {{Product.price}}
          </h5>
          <p class="card-text">{{product.description}}</p>

        </div>
      </div>
    </div>
    <div class="clo-sm-8">
      <div class="tab-panel">
      <tabset class="member-tab-set">
        <tab heading="Specification" id="tab1">Specification</tab>
        <tab heading="Images">Images</tab>
        <tab heading="Review">Review</tab>
      </tabset>
    </div>
      </div>

    </div>

    </div>
