<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- Navbar -->
<nav *ngIf="route.url != '/login'  " class="navbar navbar-expand-md navbar-light">

  <a class="navbar-brand" href="#!">
    <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="30" alt="mdb logo">
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav1"
          aria-controls="basicExampleNav1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse col-md-6" id="basicExampleNav1">

    <!-- Right -->
    <ul class="nav nav-pills">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/products']">Products</a>
      </li>
      
    </ul>

  </div>
    <!-- left -->
  <div class="collapse navbar-collapse col-md-6" id="basicExampleNav1">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a routerLink="/cart" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-shopping-cart"></span> Cart
        </a>
      </li>
      <li *ngIf="!loginMode" ng="nav-item">
        <a routerLink="/login" class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">
          Sign in
        </a>
      </li>
      <li *ngIf="!loginMode" class="nav-item pl-2 mb-2 mb-md-0">
        <a routerLink="/register"
           class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Sign up</a>
      </li>

    </ul>

    <div *ngIf="loginMode" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodeToken.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i>Log Out</a>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->

